.textContent {
    animation: 0.8s linear text-content;
}

@keyframes text-content {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}